header {
    height : 950px;
    background-image: url(../images/IceFire.jpg);
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}