* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

nav {
  height: 50px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav a {
  color: white;
  text-decoration: none;
}

header {
  height: 250px;
  background-image: url(../images/glacier.jfif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content {
  min-height: 200px;
  background-color: aqua;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.content .left {
  width: 50%;
  background-color: yellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content .right {
  width: 50%;
  background-color: ivory;
}